<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>it_IT</string>
	<key>CFBundleDisplayName</key>
	<string>DisplayName</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(APP_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(APP_V_BUILD)</string>
	<key>IKSettings</key>
	<dict>
		<key>DEV</key>
		<dict>
			<key>Add_Photo_URL</key>
			<string>http://dev.scuolacapi.com/api/v1/user/add_photo?_format=json</string>
			<key>Reset_pwd_URL</key>
			<string>http://dev.scuolacapi.com/user/password</string>
		</dict>
		<key>IKEnvironment</key>
		<string>$(IK_ENVIRONMENT)</string>
		<key>JsonConfFile</key>
		<string>EnvironmentConf</string>
		<key>PROD</key>
		<dict>
			<key>Add_Photo_URL</key>
			<string>https://www.scuolacapi.com/api/v1/user/add_photo?_format=json</string>
			<key>Reset_pwd_URL</key>
			<string>https://www.scuolacapi.com/user/password</string>
		</dict>
		<key>STUB</key>
		<dict>
			<key>Add_Photo_URL</key>
			<string>http://dev.scuolacapi.com/api/v1/user/add_photo?_format=json</string>
			<key>Reset_pwd_URL</key>
			<string>http://dev.scuolacapi.com/user/password</string>
		</dict>
		<key>UAT</key>
		<dict>
			<key>Add_Photo_URL</key>
			<string>https://uat.scuolacapi.com/api/v1/user/add_photo?_format=json</string>
			<key>Reset_pwd_URL</key>
			<string>https://uat.scuolacapi.com/user/password</string>
		</dict>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Inserisci gli eventi di Scuola dei Capi nel calendario del tuo device</string>
	<key>NSCameraUsageDescription</key>
	<string>Utilizza la fotocamera per scattarti una foto</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Scegli una foto dal tuo archivio</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>SourceSansPro-Bold.ttf</string>
		<string>SourceSansPro-Light.otf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-Semibold.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
