//
//  Common.release.xcconfig
//  MASClient
//
//  Created by Federico Gasperini on 27/10/16.
//  Copyright © 2016 Accenture - MAS. All rights reserved.
//

#include "Common.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=0 SUPPRESS_LOG=1 DISTRIBUTION=1 UNSECURE_SSL=0 REMOTE_NOTIFICATION=1 NO_INTERNAL_SERVER=1

ONLY_ACTIVE_ARCH = NO

GCC_OPTIMIZATION_LEVEL = s
